<div class="clearfix">
  <span class="label round right <%= list.items.count == 0 ? 'alert' : 'success' %>"><%= list.items.count %></span>
  <h4><%= link_to list.name, list_path(list) %></h4>
  <p><strong><%= list.description %></strong><span><em><%= fix_url(list.created_at) %></em></span><p>

  <div class="right">
    <%= link_to edit_list_path(list) do %>
      <i class="fa fa-pencil-square fa-2x"></i>
    <% end %>

    <%= link_to delete_path(list), method: :delete do %>
      <i class="fa fa-trash fa-2x"></i>
    <% end %>
  </div>
</div>
