<div>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to 'ShoppingList', root_path %></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="left">
        <li class="divider"></li>
        <li><%= link_to 'Register ', register_path %></li>
        <li class="divider"></li>
        <li><%= link_to 'Login ', login_path %></li>
        <li class="divider"></li>
        <li><%= link_to 'Logout ', logout_path %></li>
        <li class="divider"></li>
        <li><%= link_to 'Create List', new_list_path%></li>
      </ul>

      <ul class="right">
        <li>
          <%= link_to "Hello, #{current_user.username}", edit_user_path(current_user) %>
        </li>
      </ul>
    </section>
  </nav>
</div>
